E621_USERNAME=
E621_API_KEY=
PORT=5817
SECURE=false
KEY_LOCATIONS=
PRIVATE_KEY_LOCATION= 
CERTIFICATE_LOCATION=
CHAIN_LOCATION=
MONGO_DB_URL="mongodb://0.0.0.0:27017"
MONGO_DB_NAME="sourceVerifierServer"
FLARE_SOLVERR_URL='http://localhost:8191'
CHROME_EXECUTABLE_LOCATION=
BLUESKY_USERNAME=
BLUESKY_PASSWORD=
INKBUNNY_USERNAME=
INKBUNNY_PASSWORD=
REDDIT_COOKIE=
WEASYL_API_KEY=
PIXIV_REFRESH_TOKEN=